/* ------------   My custom reset 	     --------------- */
*, *:after, *:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

ul, img, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* ------------   colors     	  		 --------------- */
/* ------------   settings   	  		 --------------- */
body {
  color: #000;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fee6c6;
}

.section-header {
  padding: 70px 15px 20px;
}
.section-description {
  font-size: 42px;
  font-weight: 600;
  position: relative;
  margin: 15px;
  margin-left: 80px;
}
.section-description:before {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #d97c0e;
  left: -80px;
  top: 25px;
}
.section-border {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.text {
  color: #626262;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
}

.button {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 40px;
  background-color: #d97c0e;
  transition: 0.3s;
}
.button:hover {
  background-color: #ab6410;
}

/* ------------   main section   	  	 --------------- */
.main {
  position: relative;
  overflow: hidden;
  color: #fff;
}
.main-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.5s;
  transform: translateX(100%);
}
.main-menu_active {
  transition: 0.5s;
  transform: translateX(0%);
}
.main-menu__item {
  line-height: 2;
}
.main-menu__link {
  color: #626262;
  font-size: 30px;
  font-weight: 300;
}
.main-menu__link:hover {
  color: #d97c0e;
}
.main__slide {
  height: 100vh;
  background-image: url(../img/main-bg.jpg);
  background-size: cover;
}
.main__wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 30px;
}
.main__title {
  font-size: 72px;
  font-weight: 900;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 60px;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
}
.logo__title {
  font-size: 29px;
  font-weight: 700;
}
.logo__title_active {
  color: #d97c0e;
  font-weight: 300;
}
.logo__text {
  font-size: 12px;
  letter-spacing: 2px;
  text-align: right;
}

.nav__list {
  display: flex;
}
.nav__item {
  margin-right: 20px;
  line-height: 3;
}
.nav__link {
  font-size: 16px;
  text-transform: uppercase;
}
.nav__item:hover .nav__link {
  transition: 0.3s;
  color: #d97c0e;
}

.phones {
  display: flex;
  flex-direction: column;
}

.phone {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 1px;
}
.phone:hover {
  transition: 0.3s;
  color: #d97c0e;
}

.menu-button {
  width: 50px;
  line-height: 30px;
  text-align: center;
  z-index: 3;
}
.menu-button:hover {
  cursor: pointer;
}
.menu-button:hover .menu-button__line, .menu-button:hover .menu-button__line:before, .menu-button:hover .menu-button__line:after {
  background-color: #d97c0e;
}
.menu-button__line {
  display: inline-block;
  width: 35px;
  height: 3px;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  transition: 0.3s;
}
.menu-button__line:before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 0;
  border-radius: 5px;
  transition: 0.3s;
}
.menu-button__line:after {
  content: "";
  display: inline-block;
  width: 35px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: 5px;
  transition: 0.3s;
}
.menu-button_active .menu-button__line, .menu-button_active .menu-button__line:before, .menu-button_active .menu-button__line:after, .menu-button_active:hover .menu-button__line, .menu-button_active:hover .menu-button__line:before, .menu-button_active:hover .menu-button__line:after {
  background-color: #626262;
}
.menu-button_active .menu-button__line {
  height: 0;
}
.menu-button_active .menu-button__line:before {
  top: 0;
  transform: rotate(45deg);
}
.menu-button_active .menu-button__line:after {
  top: 0;
  transform: rotate(-45deg);
}

.main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-info__text {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 2px;
  margin: 35px 0;
}
.main-info__text_active {
  color: #d97c0e;
  font-weight: 900;
}
.main-info__right {
  margin-right: 20px;
  max-width: 45%;
  background-color: rgba(217, 124, 14, 0.8);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  padding: 50px 110px 50px 70px;
}
.main-info__right strong {
  font-weight: 900;
}

.button-down {
  display: inline-block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;
  animation: button-down-animated 3s linear infinite;
}
.button-down__line {
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #fff;
  transform-origin: left;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 0;
}
.button-down__line:after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #fff;
  transform-origin: left;
  position: absolute;
  top: 7px;
  left: 7px;
}
.button-down__line:last-child {
  transform: rotate(-45deg);
  top: 45%;
  left: 45%;
}
.button-down__line:last-child:after {
  bottom: 7px;
  left: -7px;
}
.button-down:hover {
  cursor: pointer;
}

@keyframes button-down-animated {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* ------------   about_us   	  		 --------------- */
.features {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  width: 33.33%;
  justify-content: space-between;
  padding: 40px 50px 40px 100px;
  border-right: 1px solid #ddd;
  transition: 0.3s;
}
.feature:nth-child(3), .feature:nth-child(6) {
  border: none;
}
.feature__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
}
.feature__title:before {
  display: inline-block;
  content: "01";
  position: absolute;
  left: -60px;
  color: #d97c0e;
  font-size: 32px;
}
.feature:nth-child(2) .feature__title:before {
  content: "02";
}
.feature:nth-child(3) .feature__title:before {
  content: "03";
}
.feature:nth-child(4) .feature__title:before {
  content: "04";
}
.feature:nth-child(5) .feature__title:before {
  content: "05";
}
.feature:nth-child(6) .feature__title:before {
  content: "06";
}
.feature__title:after {
  display: inline-block;
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #d97c0e;
  bottom: -20px;
  left: 0px;
}
.feature:hover {
  background-color: #d97c0e;
}
.feature:hover .feature__title, .feature:hover .feature__text, .feature:hover .feature__title:before {
  color: #fff;
}
.feature:hover .feature__title:after {
  background-color: #fff;
}

/* ------------   quality   	  		 --------------- */
.quality__wrap {
  display: flex;
}
.quality__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding-left: 15px;
}
.quality__about {
  padding-right: 100px;
}
.quality__text {
  margin-bottom: 30px;
}

.achievements {
  padding: 60px 90px 60px 150px;
  background-color: #d97c0e;
}
.achievements__item {
  color: #fff;
  font-weight: 300;
  margin-bottom: 25px;
  position: relative;
}
.achievements__item:last-child {
  margin-bottom: 0;
}
.achievements__item:before {
  display: inline-block;
  content: url(../img/icons/designer-acievement-1.png);
  position: absolute;
  width: 70px;
  height: 70px;
  left: -50px;
}
.achievements__item:nth-child(2):before {
  content: url(../img/icons/designer-acievement-2.png);
}
.achievements__item:nth-child(3):before {
  content: url(../img/icons/designer-acievement-3.png);
  left: -40px;
}

/* ------------   courses   	  		 --------------- */
.courses__section-header {
  text-align: center;
}
.courses__section-description {
  margin-left: 15px;
  margin-top: 150px;
}
.courses__section-description:before {
  left: 50%;
  top: -120px;
  height: 110px;
  width: 2px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.card {
  width: 31%;
  background-color: #5f5f74;
  color: #fff;
  box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.73);
  transition: 0.4s;
  margin-right: 25px;
  margin-bottom: 35px;
  position: relative;
}
.card__img {
  height: 300px;
  background-image: url(../img/cards/card-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card:nth-child(2) .card__img {
  background-image: url(../img/cards/card-2.jpg);
}
.card:nth-child(3) .card__img {
  background-image: url(../img/cards/card-3.jpg);
}
.card:nth-child(4) .card__img {
  background-image: url(../img/cards/card-4.jpg);
}
.card:nth-child(5) .card__img {
  background-image: url(../img/cards/card-5.jpg);
}
.card:nth-child(6) .card__img {
  background-image: url(../img/cards/card-6.jpg);
}
.card__info {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  min-height: 290px;
  justify-content: space-between;
}
.card__title {
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.card__title:hover {
  color: #d97c0e;
}
.card__title:after {
  display: inline-block;
  content: "01";
  position: absolute;
  color: rgba(221, 221, 221, 0.1);
  font-size: 70px;
  font-weight: 700;
  left: 0;
  top: -30px;
}
.card:nth-child(2) .card__title:after {
  content: "02";
}
.card:nth-child(3) .card__title:after {
  content: "03";
}
.card:nth-child(4) .card__title:after {
  content: "04";
}
.card:nth-child(5) .card__title:after {
  content: "05";
}
.card:nth-child(6) .card__title:after {
  content: "06";
}
.card:nth-child(6) .card__title:before {
  display: inline-block;
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  bottom: -25px;
  background-color: #d97c0e;
}
.card:hover {
  box-shadow: 0px 0px 41px -2px rgba(0, 0, 0, 0.73);
}
.card__description {
  font-weight: 300;
  line-height: 1.5;
}
.card__more-info {
  font-size: 18px;
  font-weight: 700;
  margin-left: 40px;
  position: relative;
}
.card__more-info:hover {
  color: #d97c0e;
}
.card__more-info:before {
  display: inline-block;
  content: url(../img/icons/arrow_right.png);
  position: absolute;
  left: -40px;
}

/*# sourceMappingURL=style.css.map */
