
.features
	display: flex
	flex-wrap: wrap
.feature
	width: 33.33%
	justify-content: space-between
	padding: 40px 50px 40px 100px
	border-right: 1px solid $border-color
	transition: 0.3s
.feature:nth-child(3),
.feature:nth-child(6)
	border: none
.feature__title
	font-size: 20px
	font-weight: 700
	text-transform: uppercase
	margin-bottom: 40px
	position: relative
.feature__title:before
	display: inline-block
	content: '01'
	position: absolute
	left: -60px
	color: $active
	font-size: 32px
.feature:nth-child(2) .feature__title:before
	content: '02'
.feature:nth-child(3) .feature__title:before
	content: '03'
.feature:nth-child(4) .feature__title:before
	content: '04'
.feature:nth-child(5) .feature__title:before
	content: '05'
.feature:nth-child(6) .feature__title:before
	content: '06'
.feature__title:after
	display: inline-block
	content: ''
	position: absolute
	width: 50px
	height: 2px
	background-color: $active
	bottom: -20px
	left: 0px

.feature:hover
	background-color: $active
.feature:hover .feature__title,
.feature:hover .feature__text,
.feature:hover .feature__title:before
	color: $white

.feature:hover .feature__title:after
	background-color: $white
