.footer
	color: $white
	&__top
		background-color: $dark-bg
	&__wrap
		display: flex
		justify-content: space-between
		align-items: center
		padding: 70px 0 50px
.social-link
	margin: 10px
.footer__bottom
	background-color: $border-color
	font-weight: 300
	text-align: center
	padding: 20px 0